    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Abraham</h2>
                <p>Abraham Ashade is a second-year Computer Science student with a strong interest in cybersecurity and secure system design. Driven by curiosity and discipline, he is passionate about understanding how systems work — and how to protect them. </p>
                <p>Beyond technical skills, Abraham is a confident student leader who thrives in collaborative environments. They bring initiative, clear communication, and strategic thinking to both academic projects and leadership roles.</a></p>
                <p>Focused on continuous growth, they are actively building expertise in cybersecurity, problem-solving, and real-world application of computing principles, with the goal of contributing to safer and more resilient digital systems.</p>
            </div>
        </div>
    </section>